@-moz-document domain("austiblox.net") {
html{
    cursor: url('http://github.com/nmac101/file-host/blob/main/2006RobloxCursor.cur?raw=true'), auto;;
}


body{
    font-family: "Source Sans Pro";
}

.ow_bg_color {
    background-color: #fff;
}

.ow_site_panel{
    background-color: #0574bb;
}

.ow_page_container{
    background: #e3e3e3;
}

.ow_main_menu li a{
    color: #fff;
}

.ow_main_menu li.active a {
    color: #fff;
}

.ow_logo {
    background-image: url(https://tr.rbxcdn.com/f54316ba30e60a817cb96f4676a3f423/420/420/Image/Png);
}
}